* {
    box-sizing: border-box;
}

html {
    font-family: Arial, sans-serif;
    font-size: 100%;
    font-weight: 400;
    color: #2b2d42;
    background-color: #ecf0f1   ;
}

body {
    max-width: 800px;
    margin: 2rem auto;
}
h1{
    text-align: center;
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 2px #2b2d42;
}

a {
    color: #e74c3c;
    text-decoration: none;
}

a:hover {
    color: #ecf0f1;
}

button {
    padding: .6rem 1rem;
    border: none;
    background-color: #e74c3c;
    color: #ecf0f1;
}

button:hover  {
    background-color: #e74c3c;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    transition: all 0.3s ease;
}

button[type="reset"] {
    background-color: #8D99AE;
    color: #2c3e50;
}
/******formulaires ****/
form {
    padding: 20px;
    margin: 2em auto 80px;
    max-width: 450px;
    background-color: white;
    border: 6px solid #2b2d42;
}
form ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
form li {
    margin-bottom: 1.5em;
}
label {
    display: block;
    margin-bottom: .5em;
    font-weight: bold;
    cursor: pointer;
}

input,
select {
    border: 2px solid #2b2d42;
    padding:1em;
    width: 100%;
    /*force l'heritage des styles de police depuis body*/
    /*c'est l'obliger a prendre les paramètres du body, text,coleur */
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}